.container > div {
  border: 1px solid black;
  width: 16px;
  height: 16px;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 16px);
  grid-template-rows: repeat(16, 16px);
  justify-content: center;
  align-items: center;
}
